
.column {
    float:left;
    height: auto;
    border: 1px solid black;
    box-sizing: content-box;  
    padding: 50px;
}

img {
    max-width: 200px;
    height: auto;
}

h1 {
    color: red;
    text-align:center
}
    
.column h1{
    color:blueviolet
}

h2 {
    text-align: center;
}